body {
    background-color: #f1f6f9;
}
hr {
    border-style: none;
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #14274e;
}
h2 {
    color: #394867;
}