body {
    background-color: #bedbbb;
    text-align: center;
    margin: 0;
}
hr {
    border-style: none;
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #14274e;
}
h2 {
    color: #394867;
}

.incenter {
    text-align: center;
    width: fit-content
    margin: 0 auto 0 auto;
}

.auto-fit {
    display: inline-block;
}

#id-card {
    width: auto;
    display: flex;
    text-align: center;
    margin: 0 auto 0 auto;
}

.card-item {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin: 0 auto 0 auto;
    height: auto;
    width: auto;
}


.navbar {
    background-color: white;
    border: 2px solid black;
    padding: 3px;
}

.navbar-bar {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.navbar-bar-button {
    margin: 0;
    text-decoration-line: none;
    padding: 3px;
}

.profile-images {
    border-radius: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color:transparent;
    max-height: 150px;
    max-width: 150px;
}



#contact {
    text-decoration-line: none;
}

#hobbies {
    text-decoration-line: none;
}
