body {
    background-color: #bedbbb;
    text-align: center;
}
hr {
    border-style: none;
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #14274e;
}
h2 {
    color: #394867;
}

.incenter {
    text-align: center;
    width: fit-content
    margin: 0 auto 0 auto;
}

.auto-fit {
    display: inline-block;
}

#id-card {
    width: auto;
    display: flex;
    text-align: center;
    margin: 0 auto 0 auto;
}

.card-item {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin: 0 auto 0 auto;
    height: auto;
    width: auto;
}

